html {
  --u: 20px;
  --c1: #a29478;
  --c2: #616c7f;
  --c3: #414c66;
  --gp: 50% / calc(var(--u) * 10) calc(var(--u) * 7.8);
  --dg: 0 25%, #fff0 0 100%;
  --dr: from 45deg at;
  --dl: from -135deg at;
  --du: from -45deg at 50%;
  --dd: from 135deg at 50%;
  background: 
		/*right*/ conic-gradient(
        var(--dr) 86% 62%,
        var(--c1) var(--dg)
      )
      var(--gp),
    conic-gradient(var(--dr) 76% 62%, var(--c3) var(--dg)) var(--gp),
    conic-gradient(var(--dr) 74.5% 62%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--dr) 65% 62%, var(--c2) var(--dg)) var(--gp),
    conic-gradient(var(--dr) 63.5% 62%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--dr) 56% 62%, var(--c3) var(--dg)) var(--gp),
    conic-gradient(var(--dr) 54.5% 62%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--dr) 50% 62%, var(--c2) var(--dg)) var(--gp),
    /*left*/ conic-gradient(var(--dl) 14% 62%, var(--c1) var(--dg))
      var(--gp),
    conic-gradient(var(--dl) 24% 62%, var(--c3) var(--dg)) var(--gp),
    conic-gradient(var(--dl) 25.5% 62%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--dl) 35% 62%, var(--c2) var(--dg)) var(--gp),
    conic-gradient(var(--dl) 36.5% 62%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--dl) 44% 62%, var(--c3) var(--dg)) var(--gp),
    conic-gradient(var(--dl) 45.5% 62%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--dl) 50% 62%, var(--c2) var(--dg)) var(--gp),
    /*up*/ conic-gradient(var(--du) 19%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--du) 31%, var(--c3) var(--dg)) var(--gp),
    conic-gradient(var(--du) 33%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--du) 43.5%, var(--c2) var(--dg)) var(--gp),
    conic-gradient(var(--du) 45.5%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--du) 55%, var(--c3) var(--dg)) var(--gp),
    conic-gradient(var(--du) 57%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--du) 66%, var(--c2) var(--dg)) var(--gp),
    /*down*/ conic-gradient(var(--dd) 81%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--dd) 69%, var(--c3) var(--dg)) var(--gp),
    conic-gradient(var(--dd) 67%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--dd) 58%, var(--c2) var(--dg)) var(--gp);
  height: 100vh;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header,
.footer {
  height: 5vh;
  background-color: #414c66;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topBar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #a29478;
}

.topBarTitle {
  font-size: 6.5vh;
}

#addNewBookButton {
  background-color: #616c7f;
  border-style: none;
  border-radius: 50px;
  font-size: 2vh;
  padding: 5px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.library {
  flex: 1;
  /*background-color: #fed7aa;*/
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
}

.book {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: linear-gradient(90deg, #616c7f, #a29478);
  font-size: 18px;
}

.book .title {
  font-size: 24px;
}

.pages,
.read {
  color: darkslategrey;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3vh;
  padding: 2vh 0px;
  background-color: #a29478c4;
  text-align: center;
}

.book {
  text-align: center;
}

input {
  height: 4vh;
  font-size: 3vh;
  flex: 1;
  margin: 10px 0 clamp(0px, 30px, 30px) 0;
  background-color: #616c7f;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #a29478 inset;
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px #616c7f inset;
  -webkit-text-fill-color: #333;
}

label {
  flex: 1;
  margin: 10px 0 0px 0;
}

#submitButton {
  background-color: #a29478;
  border-style: none;
  border-radius: 50px;
  font-size: 2vh;
  padding: 5px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 5vh;
  width: 20vw;
  align-self: center;
}

a {
  color: rgba(245, 245, 245, 0.5);
  font-size: smaller;
  text-decoration: none;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
